.popup__close {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 100%;
    max-height: 32px;
    max-width: 32px;
    top: -40px;
    right: -40px;
}

.popup__close:hover {
    opacity: .6;
    transition: 0.35s;
}

@media screen and (max-width: 540px) {
    .popup__close {
        max-height: 20px;
        max-width: 20px;
    }
}

@media screen and (max-width: 450px) {
    .popup__close {
        top: -36px;
        right: 8px;
    }
}