.profile__button-img {
    max-width: 22px;
    max-height: 22px;
}

@media screen and (max-width: 595px) {
    .profile__button-img {
        max-width: 16px;
        max-height: 16px;
        margin: 0 auto;
    }
}