.profile__avatar {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 595px) {
    .profile__avatar {
        margin: 3px auto;
    }
}